.magnetic {
  margin: -50px;
  padding: 50px;
  display: inline-block;
  border-radius: 50%;
  /*border: 1px solid #000; //use this for debugging*/
}

#magnet-button {
  display: inline-block;
}

.button {
  background-color: #212121;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #fff;
}

.button:hover {
  background-color: #000;
}