@font-face {
   font-family: Ndot-55;
   src: url(fonts/Ndot-55.otf);
}

@font-face {
   font-family: NType82Mono-Regular;
   src: url(fonts/NType82Mono-Regular.otf);
}

@font-face {
   font-family: NType82-Regular;
   src: url(fonts/NType82-Regular.otf);
}

@font-face {
   font-family: LetteraMonoLL-Regular;
   src: url(fonts/LetteraMonoLL-Regular.otf);
}

* {
   font-family: NType82Mono-Regular;
}

h1 {
   font-family: Ndot-55;
}

table, th, td {
  border-style: dotted;
  border-width: 2px;
  border-color: #000;  
  border-collapse: collapse;
}

body {
	padding: 3rem;
}

.title {
	font-size: 3rem;
}

a:not(.button) 
{
	text-decoration: none;
	border-bottom-style: dotted;
	border-width: 2px;
	border-color: #002F6C;
	color: #002F6C;
}

.button {
	text-decoration: none;
	font-family: LetteraMonoLL-Regular;
    letter-spacing: -0.7px;
    border-radius: 50rem;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: #fff;
    background-color: #002F6C;
    border-color: #002F6C;
	cursor: pointer;
    padding: 0.75rem 1.25rem;
	text-transform: uppercase;
	transition: all .15s ease-out;
}

.button:hover {
	transition: all .15s ease-out;
    width: 110px;
    left: 0;
}